  /* importando fontes */
  @import url("https://use.typekit.net/rsa6tuu.css");

*, body{
  margin: 0;
  padding: 0;
}

h1 {
  font-family:"filson-pro";
  font-size: 2rem;
  line-height: 2rem;
  font-display:auto;
  font-style:normal;
  font-weight:500;
  font-stretch:normal;
}

p {
  font-family:"filson-pro";
  font-size: 1.3rem;
  line-height: 2.5rem;
  font-display:auto;
  font-style:normal;
  font-stretch:normal;
}
.section-red {
  background-color: #DC0449;
  width: 100%;
}

.section-red p {
  color: #ffffff;
  font-weight:500;
}
 
#Sobre p {
  text-align: justify;
}

/* ícones */
.bi {
    color: #6A40FF;
  }
  
  /* links */
  a {
    color: #6A40FF !important;
    text-decoration: none;
    font-family: roboto, sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  /* removendo sublinhado ao passar o mouse sobre o link */
  a:hover {
    text-decoration: none;
  }
  

  
